@model IEnumerable<Ovning11Garage2._0.Models.ViewModels.PVOverview2>

@{
    ViewData["Title"] = "Overview1";
}

<h1>Overview for Other Properties</h1>
<form asp-action="Filter1">
    <div class="input-group m-3">
        <input type="text" name="registrationNumber" class="form-control" placeholder="Search on Registration Number" />
        <div class="input-group-append">
            <select name="vehicleType" asp-items="@Html.GetEnumSelectList<VehicleType>()" class="form-control">
                <option selected="selected" value="">Please select</option>
            </select>
        </div>
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary"><i class="fa fa-search">&emsp;Search</i></button>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfWheels)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfWheels)
            </td>



        </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to Garage</a>
</div>
