@model IEnumerable<Ovning11Garage2._0.Models.ViewModels.ParkedVehicleViewModel>

@{
    ViewData["Title"] = "Overview";
}
    

    <h3>Overview of Parked Vehicles</h3>
  

<table class="table">
    <thead>
        <tr>
                        <th>
                @Html.DisplayNameFor(model => model.VehicleType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationNumber)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.TimeOfParking)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.VehicleType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationNumber)
            </td>
            
           
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfParking)
            </td>
             
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to Garage</a>
</div>